@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;500;600&family=Montserrat:ital,wght@0,200;0,500;0,700;0,800;1,400;1,500&family=Staatliches&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

button {
    border-style:solid;
    border-width: 1px;
    border-radius: 5px 5px 5px 5px;
    padding: 3px 10px;
    display: inline;
    text-decoration: none;
    font-size: 12px;
    margin : 0 18px;
  }

/* #home-page{
    background-image: url('https://images.pexels.com/photos/4250573/pexels-photo-4250573.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-repeat:no-repeat;
    background-color: white;
    background-size:cover ;
    object-fit:scale-down;
    background-position: bottom left;
} */

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 500;
}

nav {
    display: flex;
    background-color: rgba(252, 252, 252, 0.7);
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 5px 5px;
    position: sticky;
    top: 0;
    padding: 0 20px;
}


.nav-item {
    display: flex;
    align-items: center;
    border: 5px;
    
}

.nav-item ul {
    display: flex;
    display: inline;
   
}

.nav-item ul li {
    display: flex;
    display: inline;
    /* padding: ; */
    padding: 10px 50px;
    
}

.nav-item ul li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;    
    color: black;
    /* border: b; */
}

.nav-item ul li a:hover{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-decoration: none;    
    color: black;
}

.nav-item .logo{
    width: 50px;
}

#text-logo-navbar{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-top: 15px;
    display: inline;
    font-size: medium;
}

.nav-item.logout{
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    box-shadow: 3px 3px red;
}

/*FLEX CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/

.flex{
    margin: 30px;
    display: flex;

    /* sementara coba pake yang ukurannya ga fix dulu
    /* height: 700px; */
    min-height: 100px;
    /* max-height: 800px; */
    
    min-width: 350px;
    max-width: 350px;
    border-width: 5px;
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    flex-direction: column;
    
}

#container-home-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}



.flex-header{
    height: 10%;
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: solid;
    border-width: 0 0 1px 0;
    text-align: center;
    line-height: 60px;
    color:black;
    font-size:x-large;
}

.backlog-shadow{
    box-shadow: 10px 15px 3px rgb(42, 60, 80);
}
.todo-shadow{
    box-shadow: 10px 15px 3px rgb(87, 26, 64);
}
.doing-shadow{
    box-shadow: 10px 15px 3px rgb(45, 31, 83);
}
.done-shadow{
    box-shadow: 10px 15px 3px seagreen;
}

#backlog-header{
    text-shadow: 2px 2px 1px rgb(121, 184, 255) ;
}
#todo-header{
    text-shadow: 2px 2px 1px rgb(255, 95, 194) ;
}
#doing-header{
    text-shadow: 2px 2px 1px rgb(148, 109, 255);
}
#done-header{
    text-shadow: 2px 2px 1px rgb(101, 255, 168) ;
}

.header-font{
    font-family: 'Staatliches', cursive;
    
}





.content{
    width: 100%;
    max-height: 600px;
    overflow: auto;
}

#backlog-each-content{

    background-color: rgb(238, 244, 255);
}
#todo-each-content {

    background-color: rgb(255, 241, 250);
}
#doing-each-content {

    background-color: rgb(244, 241, 255);
}
#done-each-content {

    background-color: rgb(238, 255, 245);
}


.each-content{
    width: 90%;
    margin : 10px auto;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
}




/* .padding-done{
    margin-right: 90px;
} */

.flex-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    border-style: solid;
    border-width: 1px 0 0 0;
    padding : 15px;
}

/* #backlog-footer {
    
}
#product-footer {
    
}
#development-footer {
   
}
#done-footer {
   
} */